<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

    <div>
        <h1 id="mainText" >Привет! Это мессенджер с общим чатом!</h1>

        <div id="links">

            <a id="log" href="/login">Вход в аккаунт</a>
            <a id="reg" href="/registration">Регистрация</a>

        </div>
        <img src="{{ url_for('static', filename='images/hi.png') }}" alt="">
    </div>
    
</body>
</html>